body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f7fb;
}

.home {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  max-width: 420px;
}

h1 {
  color: #4f46e5;
  font-size: 42px;
}

p {
  color: #555;
  font-size: 18px;
}

button {
  margin: 10px;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  background: #4f46e5;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 40px;
  background: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.navbar h2 {
  color: #4f46e5;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.page {
  min-height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.dashboard {
  width: 100%;
  max-width: 600px;
}

.task-form {
  display: flex;
  gap: 10px;
  margin: 24px 0;
}

.task-form input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 12px;
  font-size: 16px;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.task-card {
  background: white;
  padding: 16px;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
}

.task-card span {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
.stats {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 16px 0;
  color: #4f46e5;
  font-weight: bold;
}

.dashboard h3 {
  margin-top: 20px;
  color: #111827;
}
.footer {
  text-align: center;
  padding: 20px;
  background: white;
  color: #555;
}